<div class="card">
  <h4>All Products</h4>
  <% @products.each do |product| %>
    <li><%= link_to product.title, product_reviews_path(product) %> $<%= product.cost %>.00 -- <%= product.country %></li>
    <span>
      <%= link_to "Edit", edit_product_path(product) %> |
      <%= link_to "Delete", product_path(product),
                               :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %>
    </span>
  <% end %>
</div>
