<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h4><%= @product.title %></h4>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <h5>Details:</h5>

      <ul>
        <li>Price: <%= @product.cost %></li>
        <li>Country: <%= @product.country %></li>
      </ul>
    </div>
  </div>
</div>



<div class="card">
  <% if @reviews.any? %>
    <h5>Reviews:</h5>

    <ul>
      <% @reviews.each do |review| %>
        <li>
          <h6>Author: <%= review.author %></h6>
          <p>Review: <%= review.content %></p>
          <p>Rating: <%= review.rating %></p>
          <% if current_user %>
            <%= link_to "Edit", edit_product_review_path(@product, review) %> |
            <%= link_to "Delete", product_review_path(@product, review),
                                     :data => {:confirm => "Are you sure?",
                                                    :method => "delete"} %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no reviews yet!</p>
  <% end %>
  <p><%= link_to "Add a review", new_product_review_path(@product) %></p>
</div>
