<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= link_to('Home', root_path) %>
    <%= link_to('All Products', products_path) %>
    <%= link_to('Add Product', new_product_path)  %>

    <h1 id="name">Luigi's Product Site</h1>
    <div id="searchForm">
      <%= form_tag(products_path, :method => "get", :class => "form-inline mr-4") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Country/Name" %>
        <%= submit_tag "Search", :class => "btn-dark" %>
      <% end %>
    </div>
  </header>
  <br><br><br>
  <body>
    <div class="container">
      <% if flash[:alert] %>
        <div class="card">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="card">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
